@import '../../var.scss';
.cell{
  padding:24px 24px;
  position:relative;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background: #fff;
  color:#333;
  line-height:1.5;
  -webkit-transition:background-color 0.3s;
  -o-transition:background-color 0.3s;
  transition:background-color 0.3s;
  position:relative;
  display: flex;
  overflow:hidden;
  align-items:center;
  border-bottom: $border;
  .cell-title{
    margin-right:40px;
    width: 200px;
  }
  .cell-value{
    text-align: right;
    color: #666;
    flex: 1;
  }
}