.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  .empty-image {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
  }
  .empty-text{
    font-size: 32px;
  }
  .empty-text2{
    margin-top: 20px;
    font-size: 24px;
  }
}