$primary: #266AAE;
$secondary: #666666;
$third: #f7f9ff;
$background: #f6f6f6;
$shadow: 1px 0 6px rgba($primary, 0.2);
$border: 2px solid rgba($primary, 0.1);
// /*第二配色*/
// $primary: #ff9800;
// $secondary: #666666;
// $third: #f7f9ff;
// $background: #f6f6f6;
// $shadow: 1px 0 6px rgba($primary, 0.2);
// $border: 2px solid rgba($primary, 0.1);